*.exe
*.*~
*~
*.*#
.tup/
.clang_complete
build-win32/libathgame.a
build-win32/build/
build-dos/build/
build-dos/libathgame.a
build-linux-fb/libathgame.a
build-linux-fb/test
build-linux-fb/test_dbg
build-linux-fb/build/
docs/html
docs/latex
